body {
  font-family: 'Roboto', sans-serif;
  /* font-size: ; */
  font-weight: 500 ;
  font-style: normal;
  color: #434455;
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5 ;
  
}
.header-logo-studio {
  color: #2E2F42;
}

.header-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.header-link:hover, .header-link:focus {
  color: #404bbf
} 
.header-address {
  font-style: normal;
}
.header-address-link {
  font-family: 'Roboto', sans-serif;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-link:hover, .header-address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2E2F42;
}
.hero-title {
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}
.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color:#4D5AE5;
  color: white;
  cursor: pointer;
}
.hero-btn:hover, .hero-btn:focus {
  background-color:#404BBF;
}
.advantages-subtitle {
  /* font-family: var(--font-family); */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.advantages-text {
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #F4F4FD;
}
.team-title {
  /* font-family: var(--font-family);
  font-weight: 700; */
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2E2F42;
}
.team-item {
  background-color: #FFFFFF;
}
.team-subtitle {
  /* font-family: var(--font-family); */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  /* text-align: center; */
  color: #2E2F42;
}
.team-text {
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  /* text-align: center; */
  color: #434455;
}
.portfolio-title {
  /* font-family: var(--font-family);
  font-weight: 700; */
  text-transform: capitalize;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}
.portfolio-subtitle {
  /* font-family: var(--font-family); */
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.portfolio-text {
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2E2F42;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-studio {
  color: #F4F4FD;
}
.footer-text {
  /* font-family: var(--font-family); */
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}